In [ ]:
import pandas as pd

In [11]:
dict_medidas = {
  'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
  'alura': [160, 162, 165, 168, 175, 178, 178, 178, 190],
  }

In [12]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'alura': [160, 162, 165, 168, 175, 178, 178, 178, 190]}

In [13]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [14]:
df_medidas

   idade  alura
0     15    160
1     18    162
2     25    165
3     25    168
4     40    175
5     55    178
6     58    178
7     60    178
8     80    190

### Medidas de Posição

In [ ]:
## media
df_medidas.idade.mean()

np.float64(41.77777777777778)

In [2]:
## moda
df_medidas["idade"].mode()

NameError: name 'df_medidas' is not defined